* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

nav {
	position: fixed;
	background: red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 20px;
}

.socials {
	list-style-type: none;
	display: flex;
	gap: 20px;
	margin-left: 60px;
}

.social {
	width: 30px;
	height: 30px;
}

.social:hover {
	background-color: rgb(151, 149, 149);
	border-radius: 40%;
}

a {
	text-decoration: none;
}

.logo {
	width: 65px;
}

.hamburger-menu {
	background-color: #fff212;
	padding: 1px 7px;
}

.hamburger-icon {
	width: 21px;
}

.nav-content {
	display: none;
	position: fixed;
	background: #fff212;
	font-size: 16px;
	width: 350px;
	top: 82px;
	left: 70px;
}

.nav-items {
	list-style: none;
	color: white;
}

.nav-items li {
	padding: 15px;
	color: white;
	cursor: pointer;
}

.nav-items li:hover {
	background: rgb(255, 255, 255, 0.3);
}

.nav-link {
	color: white;
}

.nav-content.drop {
	display: block;
}

.top-image {
	padding-top: 78px;
}

.foodImage {
	background-image: url("./images/banner.jpg");
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: contain;
}

.online {
	display: none;
	width: 500px;
	height: 200px;
}

.red-online {
	background-color: red;
	padding: 10px;
	font-size: 18px;
}
.yellow-online {
	background-color: #fff212;
	padding: 5px;
	font-size: 19px;
	color: red;
}

.red-online:hover {
	background-color: yellow;
	color: red;
}
.yellow-online:hover {
	background-color: red;
	color: #fff212;
}

.button {
	text-align: center;
	padding: 5px;
	margin-top: 9px;
	font-weight: bold;
	color: red;
	width: 230px;
	border-radius: 40px;
	background-color: rgb(255, 238, 0);
	font-size: 25px;
}

.button:hover {
	color: white;
	background-color: red;
}

.orderIco {
	height: 70px;
	width: 70px;
}

.abt:hover {
	color: red;
}

.abt {
	text-decoration: none;
	color: rgb(105, 4, 4);
	font-weight: bold;
	padding: 10px;
	font-size: 11px;
}

.orderLink {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 40px;
	overflow: hidden;
	scroll-snap-type: both mandatory;
	width: 85vh;
	scroll-padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.log {
	display: flex;
	justify-content: center;
}

h2 {
	margin-right: 30%;
}

.everyday,
.wrap {
	background-color: red;
}

.soul,
.sides {
	background-color: rgb(189, 162, 9);
}

.roti,
.sweet {
	background-color: rgb(190, 4, 4);
}

.flame {
	background-color: black;
}

.everyday,
.soul,
.roti,
.flame,
.sweet,
.sides,
.wrap {
	color: white;
	display: flex;
	justify-content: space-around;
	padding: 5px;
	align-items: center;
	font-size: 14px;
}

.linkIco {
	width: 50px;
	height: 50px;
}

footer {
	display: flex;
	justify-content: space-between;
	background-color: red;
	color: white;
	padding: 20px;
}

.carousel-list {
	display: flex;
	gap: 10px;
	margin: 20px;
	overflow: hidden;
	scroll-snap-type: both mandatory;
	width: 58vh;
	scroll-padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.carousel-img {
	width: 332px;
	height: 202px;
}

.carousel-text {
	text-decoration: none;
}

.carousel-items {
	width: 332px;
	list-style-type: none;
	height: 315px;
	background-color: rgb(206, 203, 203);
}

.carousel-drinks {
	list-style: none;
}

.carousel-img-drinks {
	width: 327px;
	height: 308px;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	padding: 0 7px;
}

.menu-text {
	padding: 7px;
}

.menu-button {
	background-color: red;
	color: white;
	font-size: 14px;
	padding: 4px 7px;
	border-radius: 5px;
	width: 80px;
	border: none;
}

.menu-button:hover {
	background-color: #fff212;
	color: red;
}

.button-span {
	display: flex;
	justify-content: end;
	margin-right: 10px;
	margin-top: -15px;
	margin-bottom: 12px;
}

.menu-head {
	color: rgb(190, 4, 4);
	font-size: 13px;
	margin-top: -7px;
	margin-right: 7px;
}

.menu-text {
	color: rgb(78, 77, 77);
	font-size: 12px;
}

@media screen and (min-width: 1080px) {
	nav {
		background-color: rgb(0, 0, 0, 0.5);
		width: 100%;
		padding: 10 20px;
		font-size: 14px;
	}

	.top-image {
		padding-top: 0px;
	}

	.socials {
		margin-left: 800px;
		margin-top: 100px;
		position: absolute;
	}

	.hamburger-menu {
		display: none;
	}

	.brand {
		background-color: red;
	}

	.logo {
		width: 130px;
	}

	.nav-content {
		display: flex;
		justify-content: flex-start;
		position: absolute;
		background: rgb(0, 0, 0, 0.5);
		font-size: 14px;
		width: 0;
		top: 0;
		left: 0;
	}

	.nav-content.drop {
		display: none;
	}

	.nav-items li {
		display: flex;
		padding-left: 20px;
	}

	.nav-items {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 160px;
		margin-top: 0;
		gap: 5px;
	}

	.nav-items li:hover {
		background: rgb(0, 0, 0, 0);
		border-bottom: 5px solid red;
	}

	.nav-items li:active {
		background: rgb(0, 0, 0, 0);
		border-bottom: 3px solid red;
	}

	.online {
		display: block;
		width: 200px;
		margin-left: 400px;
		margin-top: 30px;
	}

	.foodImage {
		background-image: url("./images/banner.jpg");
		width: 100%;
		height: 500px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.orderLink {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-row-gap: 10px;
		overflow: hidden;
		scroll-snap-type: none;
		width: 100%;
		scroll-padding: 0;
		margin-left: 30px;
	}

	.linkIco {
		width: 70px;
		height: 70px;
	}

	.carousel-list {
		overflow: hidden;
		scroll-snap-type: both mandatory;
		width: 75vw;
		scroll-padding: 1rem;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 768px) {
	nav {
		background-color: rgb(0, 0, 0, 0.5);
	}

	.top-image {
		padding-top: 0px;
	}

	.socials {
		margin-right: 300px;
	}

	.hamburger-menu {
		display: none;
	}

	.brand {
		position: relative;
		background-color: red;
		height: 150px;
	}

	.logo {
		width: 130px;
	}

	.foodImage {
		background-image: url("./images/banner.jpg");
		width: 100%;
		height: 350px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.orderLink {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-row-gap: 10px;
		overflow: hidden;
		scroll-snap-type: none;
		width: 95%;
		scroll-padding: 0;
		margin-left: 30px;
	}

	.linkIco {
		width: 60px;
		height: 60px;
	}

	.carousel-list {
		overflow: hidden;
		scroll-snap-type: both mandatory;
		width: 75vw;
		scroll-padding: 1rem;
		margin-left: auto;
		margin-right: auto;
	}
}
